.contratacao-pacote {
  padding: 50px;
  color: #fff !important;
}

.ant-space {
  width: 100%;
}

.contratacao-input {
  width: 100%;
}

.contratacao-pacote h1 {
  color: #fff !important;
  font-size: 1.5rem;
}