body {
  margin: 0;
}

/* aside, aside * {
  background-color: #161616 !important;
} */

main, footer:not(.alert) {
  background-color: #1f1f1f !important;
  color: #fff !important;
}

* {
  box-sizing: border-box;
}

table thead * {
  color: #fff !important;
  background-color: #1d1d1d !important;
  border-color: #303030 !important;
}

table tbody * {
  color: #fff !important;
  background-color: #161616 !important;
  border-color: #303030 !important;
}

/* .ant-modal *:not(input):not(.ant-form-item-explain-error) {
  color: #fff !important;
} */

.ant-modal-title, .ant-picker-panel *  {
  color: #fff !important;
}

.ant-form-item-explain-error {
  color: red !important;
}

.ant-modal-content,.ant-modal-body, .ant-modal-header, .ant-picker-panel {
  background-color: #161616 !important;
  border-color: rgb(46, 46, 46) !important;
}

.ant-modal-footer {
  border-top: none !important;
}

/* .ant-modal * {
  color: #fff !important;
  background-color: #161616 !important;
} */
