.login-box {
  background-color: #fff;
  width: 500px;
  height: auto;
  border-radius: 8px;
  text-align: center;
  padding: 50px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-box label {
  color: #000 !important;
}